absl-py==1.3.0
aioice==0.9.0
aiortc==1.7.0
altair==4.2.0
annotated-types==0.4.0
anyio==3.5.0
astunparse==1.6.3
attrs==21.2.0
audioread==2.1.9
av==8.0.3
blinker==1.4
cachetools==4.2.4
certifi==2020.12.5
cffi==1.14.5
charset-normalizer==2.0.4
click==7.1.2
contourpy==1.0.1
cryptography==3.4.7
cycler==0.10.0
decorator==5.0.9
dnspython==2.1.0
email_validator==1.1.1
exceptiongroup==1.0.0
fastapi==0.75.0
fastapi-cli==0.0.7
Flask==2.1.0
flatbuffers==1.12
fonttools==4.23.1
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-crc32c==1.3.0
google-pasta==0.2.0
grpcio==1.40.0
gTTS==2.2.3
h11==0.13.0
h5py==3.1.0
httpcore==0.14.3
httptools==0.5.0
httpx==0.21.0
idna==3.2
ifaddr==0.1.7
importlib_metadata==4.8.2
importlib_resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jsonschema-specifications==2021.12.1
keras==2.6.0
kiwisolver==1.3.1
lazy_loader==0.2
libclang==12.0.1
librosa==0.8.1
llvmlite==0.36.0
Markdown==3.3.4
markdown-it-py==2.1.0
MarkupSafe==2.0.1
matplotlib==3.4.3
mdurl==0.1.1
msgpack==1.0.2
narwhals==1.28.0
numba==0.54.0
numpy==1.21.5
oauthlib==3.1.1
opt_einsum==3.3.0
orjson==3.6.8
packaging==21.3
pandas==1.3.5
pillow==8.4.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.1
pooch==1.4.0
protobuf==3.19.1
py4j==0.10.9
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1_modules==0.2.8
PyAudio==0.2.11
pycparser==2.20
pydantic==1.8.2
pydantic-extra-types==0.1.0
pydantic-settings==1.1.0
pydantic_core==1.8.2
pydeck==0.7.1
pyee==8.2.2
Pygments==2.10.0
pylibsrtp==0.9.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyspark==3.1.2
python-dateutil==2.8.2
python-dotenv==0.19.2
python-multipart==0.0.5
pyttsx3==2.90
pytz==2021.3
PyYAML==6.0
referencing==0.29.0
requests==2.26.0
requests-oauthlib==1.3.0
rich==10.16.2
rich-toolkit==0.13.1
rpds-py==0.10.0
rsa==4.8
scikit-learn==0.24.2
scipy==1.7.3
seaborn==0.11.2
shellingham==1.4.0
six==1.16.0
smmap==4.0.0
sniffio==1.2.0
sounddevice==0.4.1
soundfile==0.10.3
soxr==0.3.4
starlette==0.14.2
streamlit==1.1.0
streamlit-webrtc==0.30.0
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
typer==0.4.1
typing_extensions==3.10.0.2
tzdata==2021.5
ujson==4.3.0
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.15.0
watchdog==2.1.6
watchfiles==0.16.0
Wave==0.0.2
wavfile==4.7.1
websocket-client==1.3.1
websockets==10.0
Werkzeug==2.0.2
wrapt==1.12.1
zipp==3.6.0
